[
  {
    "name": "api",
    "image": "${image}",
    "environment": [
      {
        "name": "GRANARY_API_HOST",
        "value": "${api_host}"
      },
      {
        "name": "POSTGRES_URL",
        "value": "${postgres_url}"
      },
      {
        "name": "POSTGRES_NAME",
        "value": "${postgres_name}"
      },
      {
        "name": "POSTGRES_USER",
        "value": "${postgres_user}"
      },
      {
        "name": "POSTGRES_PASSWORD",
        "value": "${postgres_password}"
      },
      {
        "name": "GRANARY_LOG_LEVEL",
        "value": "${granary_log_level}"
      },
      {
        "name": "GRANARY_TRACING_SINK",
        "value": "${granary_tracing_sink}"
      }
    ],
    "portMappings": [
      {
        "containerPort": 8080
      }
    ],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "logGranaryAPI",
        "awslogs-region": "${aws_region}",
        "awslogs-stream-prefix": "granary-api"
      }
    }
  }
]
