/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

p {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', 'Roboto Condensed', sans-serif;
    font-size: 200%;
}

.blockContent {
    font-size: 150%;
}

.lightBackground {
    background: #759FBC;
}

.darkBackground {
    background: #1F5673;
}

.nav-footer {
    background: #0752AC;
}

.projectTitle > small {
    font-size: 75%;
}

.projectTitleSmall {
    font-size: 100%;
}

div .card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.homeContainer {
    margin-bottom: -150px;
}

.navigationSlider .slidingNav ul {
    background: #F68D11;
}

a, a:hover, .toc .toggleNav ul li.navListItemActive a, .toc .toggleNav ul li a:focus, .toc .toggleNav ul li a:hover {
    color: #BAA35F;
}