<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
    </encoder>
  </appender>
  <logger name="com.rasterfoundry.granary" level="${GRANARY_LOG_LEVEL:-INFO}"/>
  <logger name="org.http4s.blaze.channel.nio1" level="WARN"/>
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
